* {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-align: center;
  align-items: center;
}

h2 {
  font-size: 3rem;
  margin: 1rem;
  color:orange;
}
h1 {
  margin: 1rem;
}

h3 {
  text-transform: uppercase;
}

p {
  text-transform: capitalize;
}

body {
  padding: 1rem;
}

button {
  cursor: pointer;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  width: auto;
  height: 2rem;
}

input {
  color: white;
  font-size: 1.2rem;
  width: 100%;
  background-color: #e1d4d42b;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0!important;
}
.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 1rem;
  overflow: hidden;
  text-align: center;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  width: 20rem;
}

ol{
  padding-left: 0!important;
}

.footer-dev {
  color: #f55a10;
  padding-top: 1rem;
  text-transform: capitalize;
  font-style: italic;
}